.forecast-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0 0 0;
  grid-column: 1/3;
  grid-row: 3/5;
  background: #fff;
  border-radius: 25px;
}

@media (max-width: 992px) {
  .forecast-panel {
    width: 325px;
    height: 100px;
    margin: 10px 0 10px 0;
    grid-column: 1/3;
    grid-row: 3;
  }
}