.main-feels {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
  align-items: flex-start;

  &-description {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    white-space: nowrap;
  }

  &-feels {
    margin: 5px 0 0 0;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
}

@media (max-width: 992px) {
  .main-feels {
    margin: 0 0 0 10px;

    &-description {
      font-size: 14px;
      line-height: 17px;
    }

    &-feels {
      font-size: 12px;
      line-height: 14px;
    }
  }
}