.forecast-panel-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  & > p {
    font-size: 16px;
    line-height: 19px;
    color: #000;
  }
}

@media (max-width: 992px) {
  .forecast-panel-current {
    padding: 0;

    & > p {
      font-size: 12px;
      line-height: 14px;
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }
}